body{
    
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.FKsK9QqfnzvTNNvC3I5BOQHaEo&pid=Api&P=0&h=180");
    background: linear-gradient(white,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.para{
    
}